<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IOrderService">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:6565/OrderService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IOrderService" contract="OrderService.IOrderService"
                name="NetTcpBinding_IOrderService" />
        </client>
    </system.serviceModel>
</configuration>